!!!
%html  
  %head  
    %title
      = t.page_title #t.page_title
    %link(href="/index.css" media="all" rel="stylesheet" type="text/css")
    - if @refresh_time
      %meta{'http-equiv' =>'refresh', 'content' => "#{@refresh_time}" }
  %body
    #page_bar_wrap
      #page_bar
        %b
          SDK Control Center
        #page_menu
          .current_tab.tab
            %a(href="/") SDK
          .tab
            %a(href="/targets/") Targets
          %a(href="/toolchains/") Toolchains
        .clear

    #content_wrap
      #content
        .page_header.manage_header
          Manage SDK
        #sdk_management
          #sdk_version
            %ul
              - @sdk_version.each do |ver_line|
                %li
                  #{ver_line}
          #sdk_upgrade
            %form{:action => "/sdk/", :method => "post"}
              %input{:type => "submit", :value => "upgrade", :class => "button"}
        .clear
        - if @status_out and @status_out.size > 0
          #line_wrap
            %img(src="/images/line3.png")
          .clear
          #progress_view
            .page_header#progress
              Operation progress
            .monospace
              #{@status_out}
          .clear


/ designed by: agata.blomberg@gmail.com
