!!!
%html  
  %head  
    %title SDK helper WebApp
    %link(href="/index.css" media="all" rel="stylesheet" type="text/css")
    - if @auto_refresh
      %meta{'http-equiv' =>'refresh', 'content' => "#{@refresh_time}" }
  %body
    #page_bar_wrap
      #page_bar
        %b
          %a(href="/") SDK Control Center
        %a(href="/target/") Targets
        %a(href="/toolchain/") Toolchains

    #content_wrap
      #content
        .page_header#manage_sdk
          Manage SDK
        #sdk_management
          #sdk_version
            %ul
              - @sdk_version.each do |ver_line|
                %li
                  #{ver_line}
          #sdk_upgrade
            %form{:action => "/sdk/", :method => "post"}
              %input{:type => "submit", :value => "upgrade", :class => "button"}
          .clear
        #line_wrap
          %img(src="/images/line3.png")
        -# 
          #headers_wrap
            #toolchains_header Available toolchains:
            #targets_header Targets:
        .clear
        #tables_wrap
        .clear
        #line_wrap
          %img(src="/images/line3.png")
        .clear
        #progress_view
          .page_header#progress
            Installation progress
          #{@status_out}
        .clear


/ designed by: agata.blomberg@gmail.com
